
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        body {
            background-image: url(http://www.bestfantasybookshq.com/wp-content/uploads/2015/06/castle-above-the-clouds-and-mountains-fantasy-hd-wallpaper-1920x1080-2067.jpg);
            max-width:1920px;
            max-height:1080px;
        }

                a:link 
        {
            color: rgb(0,0,0);
            text-decoration:none;
        }

        a:visited 
        {
            color: rgb(0,0,0);
            text-decoration:none;
            
        }

        a:hover
        {
              color: rgb(255,255,255);
            text-decoration:none;
        }

        a:active
        {
            color: rgb(255,255,255);
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div>
        <h1>Linus Skagerberg</h1> <h2>Software Developer in Training</h2> <br /> <h3>@Html.ActionLink("About me", "Bio")<br /> @Html.ActionLink("Experience","Skills")</h3> <br /> 

    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div>
        <h2 style="text-align:center;"><q>Climb a mountain not so the world can see you, but you can see the world.</q></h2>
        <br />
        <h2 style="text-align:center;">-David McCullogh Jr.</h2>
    </div>

</body>
</html>
