
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        body
        {
            background-image:url(http://www.bestfantasybookshq.com/wp-content/uploads/2015/06/castle-above-the-clouds-and-mountains-fantasy-hd-wallpaper-1920x1080-2067.jpg)
        }
    </style>
</head>
<body>
    <div> 
        <h1>Linus Skagerberg</h1> <h2>Software Developer in Training</h2> <br /> <h3>@Html.ActionLink("About","Bio")</h3>

    </div>

    <div style="text-align:right;">
        <h1>Tjo</h1>
    </div>
</body>
</html>
