
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bio</title>
    <style>        
        div
        {
            background-image:url(http://www.pngall.com/wp-content/uploads/2016/07/Scroll-Download-PNG.png);
            text-align:center;
        }

        body
        {
            background-image:url(http://www.bestfantasybookshq.com/wp-content/uploads/2015/06/castle-above-the-clouds-and-mountains-fantasy-hd-wallpaper-1920x1080-2067.jpg)
        }

    </style>
</head>
<body>
    <div> 
        <h1 style="font-size:400%;">My name is Linus Skagerberg</h1> <h3>and i am a software developer, currently in training.</h3>
        <h3>I have studied the programming language C#.</h3><h3> I have also learned alot of other things, but those are not relevant to this page.</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div><a href="http://localhost:60683/Home/About">
        <h3>Home</h3>
        </a>
    </div>
</body>
</html>
