
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div
        {
            text-align:center;

            font-family:'Copperplate Gothic';
            color:white;
        }

    </style>
</head>
<body style="background-color:black">
    <div> 
        <h1>Linus Skagerbergs website</h1> <br />
        <h2>Enter, or run away!</h2>
        
        <a href="http://localhost:60683/Home/About"><img src="http://www.doorsforbuilders.com/PRODUCT-DETAILS-Stock-Entry-Doors/DB-785_DD_Mahogany-Dark/big.jpg" 
        style="width:150px; height:300px;"/></a>

    </div>
</body>
</html>
