
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skills</title>
    <style>
        div.f {
            text-align: center;
        }

        a:link {
            color: rgb(0,0,0);
            text-decoration: none;
        }

        a:visited {
            color: rgb(0,0,0);
            text-decoration: none;
        }

        a:hover {
            color: rgb(255,255,255);
            text-decoration: none;
        }

        a:active {
            color: rgb(255,255,255);
            text-decoration: none;
        }

        body {
            background-image: url(http://www.bestfantasybookshq.com/wp-content/uploads/2015/06/castle-above-the-clouds-and-mountains-fantasy-hd-wallpaper-1920x1080-2067.jpg);
        }
    </style>
</head>
<body>
    <div>
        <h1 style="float:left; font-size:200%;">Things i know about</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="f" style="margin:100px;">
        <h3>I know parts of the code language C# </h3><h3>In my projects, i use the program Visual Studio for coding</h3>
        <h3>I know how to use, and use slack and github</h3>
        <a href="http://localhost:60683/Home/About">
            <h3>Home</h3>
        </a>
    </div>
</body>
</html>
