
@{
    Layout = null; //Detta betyder jag vill INTE använda någon mallsida
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container"> 
        <p>Hello from view called Index</p>
        <div class="row">
            <div class="col-md-6">Row 1</div>
            <div class="col-md-6">Row 2</div>
        </div>
    </div>
</body>
</html>
