
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>    
    div.IntroText
    {
        font-family:'Copperplate Gothic';
    text-align:center;
color:white;
        
    }
    {
        
    }

    </style>

</head>
<body style="background-color:black">
    <div class="IntroText">
        <!--style=img src="https://images.alphacoders.com/777/77763.jpg"-->
        <h1>Linus Skagerbergs hemsida.</h1>
        <br />
        <h3>Enter or run away!</h3>
        <a href="http://google.se">
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYmEWT5y3p0XwIE6OvCBGqcNA67_rakDy-qQZcNoLxJpJRjsIunA"/>
          </a>
    </div>
</body>
</html>
