
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    navigering  |  xx  |  yy
    <div> 
        @RenderBody()
    </div>
    <hr />
    (c) 2016 ACME corp.
</body>
</html>
